<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mi_moto" class="com.iesvdc.acceso.beans.Moto">
        <property name="marca" value="Harley Davidson"></property>
        <property name="modelo" value="SportSter 1200"></property>
    </bean>
</beans>